body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
}

.container {
  max-width:  500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 1px;
  margin-top: 10px;
}

input[type="text"],
input[type="tel"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

#confirmation {
  background-color: #cde5c7;
  color: #0a6b0a;
  padding: 10px;
  margin-top: 10px;
  display: none;
}

button[type="submit"] {
  margin-top: 10px; /* Add margin-top for the submit button */
}

